.card {
  background-color: $color-primary-1-4;
  box-shadow: $box-shadow-standard;
  padding: $spacer-1;
}

.card--red {
  background-color: $color-secondary-1-4;
}

.card--green {
  background-color: $color-secondary-2-4;
}

.card--blue {
  background-color: $color-secondary-3-4;
}
