.card {
  background-color: $color-primary-1-4;
  box-shadow: $box-shadow-standard;
  padding: $spacer-half;
  @include min-breakpoint(tablet) {
    padding: $spacer-1;
  }
}

.card--full-mobile {
  margin-left: -1rem;
  margin-right: -1rem;
  @include min-breakpoint(tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}

.card--purple {
  background-color: $color-primary-1-4;
}

.card--red {
  background-color: $color-secondary-1-4;
}

.card--green {
  background-color: $color-secondary-2-4;
}

.card--blue {
  background-color: $color-secondary-3-4;
}

.card--grey {
  background-color: $color-primary-3-4;
}

.card--white {
  background-color: $color-white;
}
