entryfree {
  font-size: $font-size-4;
  line-height: 1.4;
  hi {
    font-weight: $font-weight-bold;
  }
  quote {
    font-style: italic;
  }
  sense {
    display: block;
  }
  sense[level="1"] {
    padding-left: $spacer-1;
  }
  sense[level="2"] {
    padding-left: $spacer-2;
  }
  sense[level="3"] {
    padding-left: $spacer-3;
  }
  sense[level="4"] {
    padding-left: $spacer-4;
  }
  sense[level="5"] {
    padding-left: $spacer-5;
  }
}
