.layout--main {
  display: grid;
  grid-gap: $spacer-1;
  grid-template-areas:
    "nav"
    "body"
    "sidebar"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: $spacer-5 auto auto auto;
  min-height: 100vh;
  @include min-breakpoint(tablet) {
    grid-template-areas:
      ". nav nav nav nav nav sidebar sidebar sidebar"
      ". body body body body . sidebar sidebar sidebar"
      ". footer footer footer footer footer sidebar sidebar sidebar";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: $spacer-5 auto auto;
  }
}

.layout--expanded-sidebar {
  @include min-breakpoint(tablet) {
    grid-template-areas:
      ". nav nav nav sidebar sidebar sidebar sidebar sidebar"
      ". body body body sidebar sidebar sidebar sidebar sidebar"
      ". footer footer footer sidebar sidebar sidebar sidebar sidebar";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: $spacer-5 auto auto;
  }
}

.layout--closed-sidebar {
  @include min-breakpoint(tablet) {
    grid-template-areas:
      ". nav nav nav nav nav nav nav ."
      ". body body body body body body body ."
      ". footer footer footer footer footer footer footer .";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: $spacer-5 auto auto;
  }
}

.layout__body,
.layout__footer,
.layout__nav,
.layout__sidebar {
  padding: $spacer-1;
  transition: all 0.3s ease;
}

.layout__body {
  grid-area: body;
  @include min-breakpoint(tablet) {
    min-height: calc(100vh);
  }
}

.layout__footer {
  grid-area: footer;
}

.layout__nav {
  grid-area: nav;
}

.layout__sidebar {
  grid-area: sidebar;
}
