.layout--main {
  display: grid;
  grid-gap: $spacer-1;
  grid-template-areas:
    "nav"
    "body"
    "sidebar"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: $spacer-5 auto auto auto;
  min-height: 100vh;
  @include min-breakpoint(desktop) {
    grid-gap: $spacer-2;
    grid-template-areas:
      "nav nav nav nav nav nav nav nav nav"
      "body body body body body body sidebar sidebar sidebar"
      "footer footer footer footer footer footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: $spacer-5 auto auto;
  }
  @include min-breakpoint(desktopLarge) {
    grid-gap: $spacer-2;
    grid-template-areas:
      ". nav nav nav nav nav nav nav ."
      ". body body body body body sidebar sidebar ."
      ". footer footer footer footer footer footer footer .";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: $spacer-5 auto auto;
  }
}

.layout__body,
.layout__footer,
.layout__nav,
.layout__sidebar {
  padding: $spacer-1;
  transition: all 0.3s ease;
  @include min-breakpoint(tablet) {
    padding: $spacer-2;
  }
  @include min-breakpoint(desktop) {
    padding: $spacer-1;
  }
  @include min-breakpoint(desktopLarge) {
    padding: 0;
  }
}

.layout__body {
  grid-area: body;
}

.layout__footer {
  grid-area: footer;
}

.layout__nav {
  grid-area: nav;
}

.layout__sidebar {
  grid-area: sidebar;
}
