div[type="textpart"] {
  font-family: $font-body;
}

div[subtype="poem"] {
  font-family: $font-body;
  margin: 2rem 0;
}

l {
  display: block;
  font-family: $font-body;
  position: relative;
  &[rend="indent"] {
    padding-left: 1rem;
  }
}

milestone[ed="P"][unit="para"] {
  display: block;
  margin-bottom: 1rem;
}

// @for $line-number from 1 through 2000 {
//   l[n="#{$line-number}"]::before {
//     content: '#{$line-number}';
//     left: -1rem;
//     position: absolute;
//     top: 0;
//   }
// }
