.align--center {
  text-align: center;
}

.align--right {
  text-align: right;
}

.text--overflow {
  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cursor--pointer {
  cursor: pointer;
}
