$font-header: 'Chivo', sans-serif;
$font-body: 'Lato', sans-serif;

$font-size-1: 56pt;
$font-size-2: 48pt;
$font-size-3: 24pt;
$font-size-4: 16pt;
$font-size-5: 14pt;
$font-size-5: 12pt;

$font-weight-bold: 700;

$color-primary-1-1: #482A5D;
$color-primary-1-2: #766086;
$color-primary-1-3: #A294AC;
$color-primary-1-4: #D1C9D6;

$color-primary-2-1: #FDC563;
$color-primary-2-2: #FED48A;
$color-primary-2-3: #FCDDA4;
$color-primary-2-4: #FEEED8;

$color-primary-3-1: #4A4B4B;
$color-primary-3-2: #787878;
$color-primary-3-3: #A5A5A5;
$color-primary-3-4: #D2D2D2;

$color-primary-4-1: #FCFCFC;

$color-secondary-1-1: #A50A0A;
$color-secondary-1-2: #BC4849;
$color-secondary-1-3: #D28484;
$color-secondary-1-4: #E9C1C2;

$color-secondary-2-1: #0B5420;
$color-secondary-2-2: #487F58;
$color-secondary-2-3: #84A98F;
$color-secondary-2-4: #C1D3C8;

$color-secondary-3-1: #043D57;
$color-secondary-3-2: #436E81;
$color-secondary-3-3: #809DAB;
$color-secondary-3-4: #C0CFD5;

$spacer-1: 1rem;
$spacer-2: 3rem;
$spacer-3: 3rem;
$spacer-4: 4rem;
$spacer-5: 5rem;

$breakpoint-mobile-large: 500px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-large: 1200px;

$box-shadow-standard: 0 0 1rem rgba(0, 0, 0, 0.1);

@mixin min-breakpoint($device) {
  @if $device == mobileLarge {
    @media (min-width: $breakpoint-mobile-large) { @content; }
  }

  @else if $device == tablet {
    @media (min-width: $breakpoint-tablet) { @content; }
  }

  @else if $device == desktop {
    @media (min-width: $breakpoint-desktop) { @content; }
  }

  @else if $device == desktopLarge {
    @media (min-width: $breakpoint-desktop-large) { @content; }
  }
}
