.form__container {
  display: block;
  margin-bottom: $spacer-1;
  position: relative;
  width: 100%;
}

.form__input {
  border: 0;
  border-bottom: 2px solid $color-primary-1-3;
  box-sizing: border-box;
  font-size: $font-size-5;
  font-family: $font-body;
  padding: $spacer-1;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  &:hover,
  &:focus, {
    border-bottom: 2px solid $color-primary-1-1;
    outline: 0;
  }
  &:hover {
    box-shadow: $box-shadow-standard;
  }
}

.form__list {
  box-shadow: $box-shadow-standard;
  margin-bottom: $spacer-1;
  margin-top: -1rem;
}

.form__list-item {
  background-color: $color-primary-4-1;
  cursor: pointer;
  margin-bottom: 0;
  padding: $spacer-1;
  &:not(:last-child) {
    border-bottom: 0.1rem $color-primary-3-4 solid;
  }
}

.form__label {
  font-size: $font-size-5;
  font-weight: $font-weight-bold;
  line-height: 3;
}

.form__error,
.form__help {
  color: $color-primary-3-1;
  font-size: $font-size-5;
  position: absolute;
  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  top: 100%;
  white-space: nowrap;
}

.form__error {
  color: $color-secondary-1-1;
}

.form__toggle {
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  font-family: $font-body;
  -webkit-tap-highlight-color: transparent;
  > :not(:last-child) {
    margin-right: 0.5rem;
  }
}
.form__toggle-input,
.form__toggle-input:checked {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}
.form__toggle-bar {
  background-color: $color-primary-1-3;
  border-radius: 2rem;
  display: inline-block;
  height: 25px;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  width: 46px;
}
.form__toggle-decoration {
  background-color: white;
  border-radius: 50%;
  height: 19px;
  left: 3px;
  position: absolute;
  top: 3px;
  transition: all 0.3s ease-in-out;
  width: 19px;
  z-index: 2;
}
.form__toggle-ripple {
  position: absolute;
  left: calc(50% - 2.2rem);
  top: calc(50% - 1.5rem);
  height: 3rem;
  width: 3rem;
  z-index: 1;
  pointer-events: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  background-color: $color-primary-1-3;
  opacity: 0;
}
.form__toggle-input:checked + .form__toggle-bar {
  // background-color: $color-primary-2-3;
  .form__toggle-ripple {
    // background-color: $color-primary-2-3;
  }
}
.form__toggle-input:checked ~ .form__toggle-bar {
  .form__toggle-decoration,
  .form__toggle-ripple {
    transform: translateX(1.3rem);
  }
}
.form__toggle-input:focus ~ .form__toggle-bar {
  .form__toggle-ripple {
    opacity: 0.12;
  }
}
